WebApplicationCRUD/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceCRUD" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceCRUD" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InsertUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertUser" nillable="true" type="tns:InsertUser" />
  <xs:complexType name="gettestdata">
    <xs:sequence>
      <xs:element minOccurs="0" name="usertab" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="gettestdata" nillable="true" type="tns:gettestdata" />
  <xs:complexType name="UpdateUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateUser" nillable="true" type="tns:UpdateUser" />
  <xs:complexType name="DeleteUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="UID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeleteUser" nillable="true" type="tns:DeleteUser" />
</xs:schema>